<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--    <meta charset="UTF-8"/>
    <title>Title</title>-->
    <head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Default Title</h1>


    <ul th:each="menu : ${menus}">
        <li>
            <a th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
        </li>
    </ul>

    <a href="/menu/add/">Add a Menu</a>

</body>
</html>